/* .container {
  height: 50px;
} */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  background-color: #212121;
}
.dropdown-menu {
  border-radius: 0%;
  border: none;
  width: 210px;
}
img.icon {
  margin-left: 7px;
  margin-right: 7px;
}
img.icon-dropdown {
  margin-left: 5px;
}

a.dropdown-item {
  width: 100%;
  padding: 10px 12px;
  color: white;
  font-family: "Rubik", "Open Sans", sans-serif;
  font-size: 13px;
}
a.dropdown-item:hover {
  background-color: #2e2e2e;
  color: white;
}
img.icon-dropdown {
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
}

#navbarNavAltMarkup ul.navbar-nav > li:hover .icon-dropdown {
  transform: rotate(180deg);
}
#navbarNavAltMarkup ul.navbar-nav > li:hover {
  background-color: #212121;
}

.nav-item {
  width: 140px;
}

li.nav-item.dropdown a.nav-link.active {
  margin-top: 10px;
  text-align: center;
}
#utilityId {
  color: yellow;
}

.icon-dropdown-right {
  margin-top: 7px;
  float: right;
  transform: rotate(-90deg);
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none !important;
  position: absolute;
  left: 100%;
  top: 0px;
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block !important;
}
@media only screen and (max-width: 768px) {
  .dropdown-menu {
    width: 100vw;
  }
}
